.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #3a5ea7;
  color: white;
  position: relative;
  font-family: "Crimson Text", serif;
  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: red;

    .one {
      background-color: rgb(255, 36, 36);
      width: 100%;
      height: 50%;
      position: absolute;
      top: 0;
      left: 0;
    }
    .two {
      background-color: rgb(54, 149, 245);
      width: 100%;
      height: 50%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }

  .won {
    background: white;
    width: 50%;
    min-height: 30%;
    z-index: 2;
    border-radius: 5%;
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    gap: 10%;
    & img {
      width: 50%;
      height: auto;
      margin: 0;
    }
    & h1 {  
      font-size: 100%;
      color: green;
    }
  }

  .content {
    z-index: 2;
    width: 100%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* transform: translateY(-80px); */
    max-height: 100%;
    color: black;
    .quest {
      font-size: 400%;
      color: rgb(22, 250, 94);
      margin-bottom: 50px;
      font-family: "Micro 5", sans-serif;
      z-index: 2;
    }
    .loading {
      width: 50%;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      height: 200px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background: #fcecec;
      padding: 1% 3%;
    }
    .submitPage, .namePage {
      z-index: 2;
      width: 50%;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 20px;
      background: #fcecec;
      padding: 1% 3%;
      & h1 {
        font-size: 200%;
        color: #3f3d17f4;
      }
      .result, input {
        width: 100%;
        height: 150px;
        border-radius: 20px;
        padding: 1.5%;
        font-size: 110%;
      }
      & input {
        width: 70%;
        height: 30%;
        border: none;
        box-shadow: 1px 1px 10px 1px #0000001f;
        padding: 2% 3%;
      }

      .button {
        outline: none;
        border: none;
        background: greenyellow;
        padding: 15px 25px;
        font-size: 100%;
        border-radius: 10px;
      }
    }
    .questionPage {
      background: white;
      width: 50%;
      padding: 1% 3%;
      border-radius: 20px;
      max-height: 70%;
      overflow: auto;
      margin: 10px;
    }

    & table {
      width: 100%;
      & tr {
        width: 100%;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        & td, th {
          border: 2px solid #00000090;
          text-align: center;
        }
        & th {
          background: #11111134;
        }
      }
    }
  }
  .switchButton {
    position: fixed;
    top: 1%;
    right: 1%;
    outline: none;
    border: none;
    padding: 1% 2%;
    font-size: 80%;
    font-weight: bold;
    border-radius: 10px;
    background: #f7f7f7;
    margin: 20px;
    display: flex;
    gap: 1%;
    align-items: center;

    & i {
      font-size: 150%;
    }
  }

  .info {
    position: fixed;
    background: #fff;
    padding: 1%;
    border-radius: 10px;
    top: 2%;
    left: 2%;
    max-height: 20%;
    overflow: auto;
    min-width: 17%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15%;

    & h1 {
      font-size: 100%;
      color: hsla(57, 47%, 17%, 0.957);
      display: flex;
    }
    & h2 {
      font-size: 80%;
      color: hsla(57, 47%, 17%, 0.957);
      display: flex;
      font-weight: normal;
    }
    & p {
      color: #111;
      font-size: 70%;
    }
  }

  .leaderboardButton {
    position: fixed;
    bottom: 1%;
    right: 1%;
    outline: none;
    border: none;
    padding: 1% 2%;
    font-size: 80%;
    font-weight: bold;
    border-radius: 10px;
    background: #b5f7b8;
    margin: 20px;
    display: flex;
    /* gap: 1%; */
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 10;
  }
}
