.admin-route{
  position: absolute;
  top: 0;
  width: calc(100% - 20px);
  padding: 10px;
  height: auto;
  min-height:calc(100vh - 20px);
  background: #fff;
  color: #121212;
}
@media print {
  .admin-route{
    overflow: visible;
  }
}