
.notification.gone,
.notification.info.gone
{
 /* top: -100%;*/
}
.notification
{
  position: fixed;
  top: -100%;
  left: 50%;
  width: calc(100% - 40px);
  height: auto;
  min-height: 35px;
  max-height: 100px;
  max-width: 700px;
  border-radius: 10px;
  color: #fff;
  background: var(--bg);
  padding: 10px;
  transition: all 0.5s ease;
  display: flex;
  align-items: space-between;
  justify-content: center;
  transform: translate(-50%,15%);
  z-index: 166;
  border: 1px solid var(--n-color);
  box-shadow: 1px 1px 10px var(--n-color);
}

.notification .text
{
  width: calc(100% - 50px);
  font-size: 13px;
  min-height: 100%;
  display: flex;
  align-items: center;
  text-align: left;
  margin-left: 10px;
}
.notification .icon i
{
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--n-color);
}
.notification .icon
{
  position: relative;
  width: 35px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: var(--n-color);
}
.notification .close{
  width: auto;
  height: 100%;
  font-size: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.notification .close i{
  font-size: 25px;
}
.notification.info {
  --n-color: #33c4ff;
}
.notification.warning {
  --n-color: #ffb001;
}
.notification.error {
  --n-color: #ff5050;
}
.notification.success {
  --n-color: #50ff68;
}
.notification.info,
.notification.warning,
.notification.error,
.notification.success
{
  top: 10px;
}