.events
{
  width: calc(100% - 20px);
  position: relative;
  height: auto;
  min-height: 300px;
  padding: 10px;
}
.events .heading
{
  color: var(--text);
  text-align: center;
  --border-color: var(--text);
}
.events .container {
  display: grid;
  width: 100%;
  column-count: 1;
  grid-template-columns: auto;
}

@media only screen and (min-width:700px) {
  .events .container {
    column-count: 3;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
  }
}