.register {
  width: 100%;
  min-height: 80%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  background: linear-gradient(
    180deg,
    rgba(47, 104, 56, 0) 23.61%,
    rgba(37, 105, 48, 0.46) 83.24%
  );
  position: relative;
  .left {
    position: absolute;
    top: 0;
    filter: blur(10px);
    width: 100%;
    /* background: red; */
    height: 100vh;
    position: relative;
    .logo {
      width: 20%;
    }
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;

      .bottomDesign {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        height: auto;
        z-index: 0;
      }

      .alien {
        position: absolute;
        bottom: 5%;
        left: -5%;
        width: 90%;
      }
    }
  }
  .right {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & form {
      width: calc(100% - 50px);
      padding: 25px;
      /* background: var(--color-green-transparent); */
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 20px;
      & h2 {
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
        color: var(--color-orange);
      }
      & input {
        width: calc(100% - 20px);
        display: block;
        height: 30px;
        padding: 5px 10px;
        background: var(--color-grey);
        color: var(--color-black);
        outline: none;
        border: none;
        border-radius: 10px;
        box-shadow: 1px 1px 10px var(--color-orange-shade);
        font-size: 15px;
        /* margin-bottom: 20px; */
      }
      & button {
        outline: none;
        border: none;
        background: var(--color-orange);
        padding: 10px 15px;
        font-size: 17px;
        border-radius: 10px;
        color: var(--color-white);
      }
      & span {
        text-align: center;
      }
    }
  }
}
/* Target tablet devices */
@media screen and (min-width: 768px) {
  /* Your CSS styles for tablet devices go here */
  .register {
    flex-direction: row;
    .left {
      width: 50%;
      filter: none;
      position: relative;
      .background {
        .alien {
          bottom: 15%;
        }
      }
    }
    .right {
      width: 50%;
      position: relative;
      & form {
        width: 70%;
        padding: 25px;
      }
    }
  }
}
/* Target desktop devices */
@media screen and (min-width: 1024px) {
  /* Your CSS styles for desktop devices go here */
}
