.dashboard {
  width: 100%;
  height: auto;
  .page {
    width: calc(100% - 30px);
    padding: 15px;

    .info {
      display: block;
      margin: 20px 0;
      width: calc(100% - 40px);
      padding: 20px;
      border-radius: 20px;
      text-align: center;
      background: var(--color-green);
    }
  }
}

@media screen and (min-width: 768px) {
  .dashboard {
    .page {
      width: calc(100% - 100px);
      padding: 50px;
    }
  }
}
