.eventList {
  display: grid;
  grid-template-columns: auto;
}
/* Target tablet devices */
@media screen and (min-width: 768px) {
  .eventList {
    /* grid-template-columns: 30% 30% 30%; */
    grid-template-columns: 23% 23% 23% 23%;
    gap: 50px;
  }
}
