.userCard {
  /* width: calc(100% - 40px); */
  width: calc(100% - 40px);
  height: 60vw;
  max-width: 500px;
  max-height: 300px;
  padding: 20px;
  border-radius: 20px;
  position: relative;
  background: var(--color-2);

  .top {
    width: 100%;
    display: flex;
    gap: 50px;
    align-items: center;
    .img {
      width: 60px;
      height: 60px;
      & img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 5px solid var(--color-4);
      }
    }

    .details {
      & span {
        display: block;
      }
      .name {
        font-size: 20px;
      }
      .college {
        font-size: 13px;
        color: var(--color-4);
      }
      .course {
        font-size: 10px;
        color: var(--color-4);
      }
    }
  }

  .bottom {
    margin-top: 20px;
    .userId {
      position: absolute;
      background: var(--color-4);
      width: calc(100% - 20px);
      bottom: 0;
      left: 0;
      padding: 10px;
      border-radius: 0 0 20px 20px;
      display: flex;
      justify-content: space-between;
      color: var(--color-orange);
      font-weight: 600;

      .email {
        font-size: 13px;
        color: var(--color-3);
      }
    }
    .participate {
      width: calc(100% - 0px);
      height: 100px;
      padding: 10px 0;
      /* padding: 10px; */
      border-top: 2px solid var(--color-4);
      color: var(--color-black);
      & h5 {
        font-size: 15px;
      }
      .events {
        display: block;
        margin-top: 10px;
        font-size: 13px;
        color: var(--color-green);

        & span {
          display: inline-block;
          background: var(--color-3);
          padding: 5px 10px;
          border-radius: 5px;
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .userCard {
    .top {
      .img {
        width: 100px;
        height: 100px;
        & img {
          width: 100px;
          height: 100px;
        }
      }
      .details {
        .name {
          font-size: 30px;
        }
        .college {
          font-size: 20px;
        }
        .course {
          font-size: 15px;
        }
      }
    }
  }
}
