.event-page {
  margin: 20px;
  width: calc(100% - 40px);
  height: auto;
  color: var(--text);
  min-height: 100vh;
}
.event-page .image {
  width: 100%;
  height: auto;
  max-height: 200px;
  border-radius: 10px;
  object-fit: cover;
}
.event-page .name {
  font-size: 15px;
  --border-color: var(--text);
}
.event-page .description {
  font-size: 12px;
}
.event-page .date span,
.event-page .type span{
  background: var(--blue);
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  box-shadow: 0 0 3px var(--blue);
}
.event-page .poster {
  width: 100%;
  height: auto;
  max-width: 800px;
}
.event-page .image-container {
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
}
@media only screen and (min-width: 700px) {
  .event-page .description {
    font-size: 15px;
  }
  .event-page .name {
    font-size: 18px;
  }
  .event-page .image {
    width: 100%;
    height: auto;
    max-height: 350px;
    border-radius: 10px;
    object-fit: cover;
  }
}