.topbar {
  justify-content: space-between;
  width: calc(100% - calc(2 * var(--topbar-padding-side)));
  height: var(--topbar-height);
  padding: var(--topbar-padding-top) var(--topbar-padding-side);
  z-index: 10;
  position: relative;
  /* background: red; */
  .account {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobile {
  display: flex;
  /* Un implemented */
  .loginButton {
    display: flex;
    align-items: center;
    justify-content: center;
    .themeButton {
      color: var(--color-black);
      font-size: 25px;
      margin-right: 25px;
    }
  }
  .menuButton {
    font-size: 30px;
    font-weight: 900;
    color: var(--color-black);
  }
}

.desktop {
  display: none;
  width: calc(100% - 140px);
  padding: 10px 50px;

  .menuItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .menuButton {
      margin-right: 20px;
      font-family: Wallpoet;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      & a {
        text-decoration: none;
        color: var(--color-orange);

        &:hover {
          color: var(--color-green);
        }
      }

      .logo {
        height: 50px;
        /* width: 50px; */
      }
    }
  }

  .loginButton {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .themeButton {
      color: var(--color-black);
      font-size: 35px;
      margin-right: 25px;
    }
  }
}

/* Target tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your CSS styles for tablet devices go here */
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
/* Target desktop devices */
@media screen and (min-width: 1024px) {
  /* Your CSS styles for desktop devices go here */
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
