.topbar {
  justify-content: space-between;
  width: calc(100% - 40px);
  height: var(--topbar-height);
  padding: var(--topbar-padding-top) var(--topbar-padding-side);
  z-index: 10;
  position: relative;

  .account {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mobile {
  display: flex;
  /* Un implemented */
}

.desktop {
  display: none;
  width: calc(100% - 140px);
  padding: 10px 50px;

  .menuItems {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;

    .menuButton {
      margin-right: 20px;
      font-family: Wallpoet;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;

      & a {
        text-decoration: none;
        color: var(--color-orange);
      }
    }  
  }

  .loginButton {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

/* Target tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* Your CSS styles for tablet devices go here */
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
/* Target desktop devices */
@media screen and (min-width: 1024px) {
  /* Your CSS styles for desktop devices go here */
  .mobile {
    display: none;
  }
  .desktop {
    display: flex;
  }
}
