:root
{
  --bg: #000;
  --bg-2: #121212;
  --text: #ffffff;
  --text-shadow: #ffffff20;
  --blue: #00b4e1;
  --lightblue: #0086a8;
}
body
{
  background: var(--bg);
  color: var(--text);
  font-family: 'Chivo Mono','Teko',Sans-Serif;
  font-size: 16px;
}

div::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}
div.show-scrollbar::-webkit-scrollbar{
  display: block;
  -ms-overflow-style: auto;  /* IE and Edge */
  scrollbar-width: auto;
}
@keyframes spinner-spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.spinner
{
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border-left: 4px solid transparent;
  border-right: 4px solid black;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  animation: spinner-spin 1s infinite linear;
}
h3.shaded
{
  font-size: 15px;
  color: #12121280;
}
.underlined{
  display: block;
  width: auto;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
  --border-color: red;
}
.underlined:after
{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: var(--border-color);
}
