.main .content {
  position: relative;
  margin-top: 60px;
  height: auto;
}
.main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  transition: all 0.5s ease;
}
.main.opened {
  left: calc(70% + 0px);
}
@media only screen and (min-width:700px) {
  .main.opened {
    left: 30%;
  }
}
@media print {
  .main{
    overflow: visible;
  }
}