.home {

  .background {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    .topGradient {
      background: radial-gradient(50% 50% at 50% 50%, var(--color-green) 0%, rgba(217, 217, 217, 0.00) 100%);
      width: 40%;
      height: 40%;
      flex-shrink: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -0;
      transform: translate(50%,-50%);
    }

    .bottomDesign {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30%;
      height: auto;
      z-index: 0;
    }
  }

  .header {
    width: 100vw;
    height: calc(100vh - var(--topbar-total-height) - var(--bottom-spacing));
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;

    & h1 {
      color: var(--color-black);
      font-family: Wallpoet;
      font-size: 90px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 80px;

      & span {
        color: var(--color-green);
      }
    }

    .mottoText {
      color: #202F25;
      font-family: Wallpoet;
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin-top: 50px;
    }
    .infoText {
      color: #404040;
      text-align: center;
      font-family: Wallpoet;
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      width: 65%;
      margin-top: 50px;
    }
  }
}