.home {
  background: red;

  .background {

    .topGradient {
      background: radial-gradient(50% 50% at 50% 50%, #2F6838 0%, rgba(217, 217, 217, 0.00) 100%);
      width: 40%;
      height: 40%;
      flex-shrink: 0;
      position: absolute;
      top: 0;
      right: 0;
      z-index: -0;
      transform: translate(50%,-50%);
    }
    .bottomDesign {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 30%;
      height: auto;
    }
  }
}