.dashboard{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: calc(100% - 40px);
  padding: 20px;
}
.dashboard .registered {
  width: 100%;
}
.dashboard .registered .container {
  width: 100%;
  display: grid;
  column-count: 3;
  grid-template-columns: auto;
  column-gap: 0;
}
@media only screen and (min-width:700px)  {
  .dashboard .registered .container {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 20px;
  }
}
