.loginButton {
  display: flex;
  height: auto;
  padding: 9px 15px;
  align-items: center;
  border-radius: 30px;
  background: var(--color-orange);
  font-size: 20px;

  .icon {
    margin-right: 10px;

    & img {
      width: 25px;
    }
  }

  .text {
    color: var(--color-white);
    font-family: Wallpoet;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.loginButton:hover {
  background: var(--color-3);
  color: var(--color-4);
}