.loginButton {
  display: flex;
  height: auto;
  padding: 10px 10px;
  align-items: center;
  border-radius: 30px;
  background: var(--color-orange);

  .icon {
    margin-right: 10px;

    & img {
      width: 15px;
    }
  }

  .text {
    color: var(--color-white);
    font-family: Wallpoet;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.loginButton:hover {
  background: var(--color-3);
  color: var(--color-4);
}

@media screen and (min-width: 768px) {
  .loginButton {
    padding: 9px 15px;
    .text {
      font-size: 20px;
    }
    .icon {
      margin-right: 10px;

      & img {
        width: 25px;
      }
    }
  }
}
