/* Dark and light theme colours */

.dark {
  --color-1: #040D12;
  --color-2: #183D3D;
  --color-3: #5C8374;
  --color-4: #93B1A6;
  --color-green: #2F6838;
  --color-orange: #744524;
  --color-dark-green: #202F25;
  --color-white: #FFF;
  --color-black: #0d0d00;
}

.light {
  --color-1: #FAF1E4;
  --color-2: #CEDEBD;
  --color-3: #9EB384;
  --color-4: #435334;
  --color-green: #2F6838;
  --color-orange: #744524;
  --color-dark-green: #202F25;
  --color-white: #FFF;
  --color-black: #0d0d00;
}

/* Responsive values */

.app {
  --topbar-height: 5rem;
  --topbar-padding-top: 10px;
  --topbar-padding-side: 50px;
  --topbar-total-height: calc(5rem + 10px);
  
  --bottom-spacing: 50px;
}

/* Target tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app {
    --topbar-height: 5rem;
    --topbar-padding-top: 0;
    --topbar-padding-side: 20px;
  }  
}
/* Target desktop devices */
@media screen and (min-width: 1024px) {
  .app {
    --topbar-height: 5rem;
    --topbar-padding-top: 0;
    --topbar-padding-side: 20px;
  }  
}
