/* Dark and light theme colours */

.dark {
  --color-1: #040d12;
  --color-2: #183d3d;
  --color-3: #5c8374;
  --color-4: #93b1a6;
  --color-green: #6bd47b;
  --color-orange: #c07641;
  --color-orange-shade: #f4bd9670;
  --color-dark-green: #557560;
  --color-white: #0e0d0d;
  --color-black: #f7f7f4;
  --color-text-secondary: #dbdada;
  --color-green-transparent: #2f68385a;
  --color-grey: #08390c;
  --color-grey2: #252525;
}

.light {
  --color-1: #faf1e4;
  --color-2: #cedebd;
  --color-3: #9eb384;
  --color-4: #435334;
  --color-green: #2f6838;
  --color-orange: #744524;
  --color-orange-shade: #74452470;
  --color-dark-green: #202f25;
  --color-white: #fff;
  --color-black: #0d0d00;
  --color-text-secondary: #404040;
  --color-green-transparent: #9dfbab5a;
  --color-grey: #ced9cf;
  --color-grey2: #d9d9d9;
}

/* Responsive values */

.app {
  --topbar-height: 3rem;
  --topbar-padding-top: 10px;
  --topbar-padding-side: 10px;
  --topbar-total-height: calc(5rem + 10px);
  --bottom-spacing: 50px;
}

/* Target tablet devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .app {
    --topbar-height: 5rem;
    --topbar-padding-top: 0;
    --topbar-padding-side: 20px;
  }
}
/* Target desktop devices */
@media screen and (min-width: 1024px) {
  .app {
    --topbar-height: 5rem;
    --topbar-padding-top: 0;
    --topbar-padding-side: 20px;
  }
}
