.app {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  position: relative;
  color: var(--color-black);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f6838;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #744524;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--color-green); */
}
.underline {
  position: relative;
  width: auto;
  display: block;
}
.underline::after {
  content: "";
  display: block;
  width: 70%;
  padding: 2px;
  background: var(--color-dark-green);
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
}
.underline.w50::after {
  width: 50%;
}
.underline.start::after {
  position: relative;
  left: 0;
  transform: none;
}
a {
  color: var(--color-green);
}

.primary-button {
  color: var(--color-white);
  background: var(--color-orange);
  display: block;
  padding: 10px 15px;
  border-radius: 20px;
  font-size: 13px;
  text-decoration: none;
}
.primary-button.clr2 {
  background: var(--color-green);
}
