.app {
  width: 100vw;
  height: 100vh;
  overflow-x: auto;
  position: relative;
  color: var(--color-black);
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2f6838;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #744524;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  /* background: var(--color-green); */
}
.underline {
  position: relative;
}
.underline::after {
  content: "";
  display: block;
  width: 70%;
  padding: 2px;
  background: var(--color-dark-green);
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 10px;
}
