* {
  padding: 0;
  margin: 0;
  font-family: "Wallpoet", sans-serif;
  transition: all 0.5s ease;
}
.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--color-white);
}
.line {
  display: block;
  width: 50%;
  margin-top: 20px;
  height: 5px;
  background: var(--color-green);
}
