.dark {
  --color-1: #040D12;
  --color-2: #183D3D;
  --color-3: #5C8374;
  --color-4: #93B1A6;
}
.light {
  --color-1: #FAF1E4;
  --color-2: #CEDEBD;
  --color-3: #9EB384;
  --color-4: #435334;
}
* {
  padding: 0;
  margin: 0;
}
.app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--color-1);
}